@font-face {
  font-family: 'normal';
  src: url("../font/fontNormal.ttf");
}

@font-face {
  font-family: 'normalBold';
  src: url("../font/fontNormalBold.ttf");
}

.conteneurMenu {
  width: calc(100% - 20px);
  margin: 10px;
  height: 800px;
  -webkit-box-shadow: 0px 0px 10px 0px #b9b6b6;
          box-shadow: 0px 0px 10px 0px #b9b6b6;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.topTitle {
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.menuBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 80%;
}

.menuLine {
  height: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: space-between;
}

.separationBar {
  width: 30%;
  height: 60px;
}

.secondTitle {
  font-family: 'normalBold';
  font-size: 1rem;
  color: #3f3d3d;
  width: 100%;
  text-align: center;
  border-bottom: 3px solid transparent;
  margin: 0px;
}

.conteneurSecondTitle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.myBorder {
  height: 4px;
  border-radius: 2px;
  width: 0%;
  background-color: red;
}

.conteneurSecondTitle:hover > .myBorder {
  width: 80%;
  background-color: lightsalmon;
  -webkit-animation: secondTitleAnimation;
          animation: secondTitleAnimation;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes secondTitleAnimation {
  0% {
    width: 0px;
    background-color: transparent;
  }
  100% {
    width: 80%;
    background-color: lightsalmon;
  }
}

@keyframes secondTitleAnimation {
  0% {
    width: 0px;
    background-color: transparent;
  }
  100% {
    width: 80%;
    background-color: lightsalmon;
  }
}

.meal {
  font-family: 'normal';
  font-size: 0.7rem;
  color: #3f3d3d;
  text-align: left;
  width: 90%;
  height: 100%;
  margin: 0px;
  line-height: 18px;
  height: 18px;
}

.prix {
  font-family: 'normalBold';
  font-size: 0.9rem;
  color: #3f3d3d;
  width: 10%;
  text-align: right;
  margin: 0px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}
/*# sourceMappingURL=block.css.map */