
.conteneurMenu-red-chic {
    background-color: #FDF7FE;
}

#mainTitle-chic {
    font-family: 'leChicALaFrancaise';
    font-size: 1.8rem;
    background-image: linear-gradient(0.25turn, #DF8C3B, rgb(146, 97, 224));
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin: 0px;
}

.secondTitle-chic {
    font-family: 'normalBold';
    font-size: 1.1rem;
    font-family: 'leChicALaFrancaise';
}

.fontChic {
    font-family: 'leChicALaFrancaise';                
    font-size: 0.9rem;
}

.color1-chic {
    color: #C67530;
}

.color2-chic {
    color: #A56799;
}

.color3-chic {
    color: #6E4CCC;
}
