
@font-face {
    font-family: 'mainFont';
    src: url("../font/Kanit-Medium.ttf");
}

@font-face {
    font-family: 'paletteDuGout';
    src: url('../font/fontLaPaletteDuGout.ttf');
}

@font-face {
    font-family: 'leChicALaFrancaise';
    src: url('../font/fontLeChicALaFrancaise.ttf');
}

@font-face {
    font-family: 'lesDelicesDesPapilles';
    src: url('../font/fontLesDelicesDesPapilles.ttf');
}

@font-face {
    font-family: 'laNoteEnchantee';
    src: url('../font/fontNoteEnchantee.ttf');
}



html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    overflow: hidden;
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 70px;
    top: 0px;
    position: absolute;
}

main {
    top: 70px;
    left: 0px;
    height: calc(100% - 105px);
    width: 100%;
    position: absolute;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainConteneur {
    max-width: 600px;
    width: 100%;
}


footer {
    background-color: #579C87;
    position: absolute;
    height: 50px;
    top: calc(100% - 50px);
    width: 100%;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#ohmyfoodTitle {
    font-family: 'mainFont';
    color: #F9CB48;
    font-size: 1.8rem;
    width: 100%;
    text-align: center;
    margin: 0px;
    height: 100%;
    font-weight: bold;
    line-height: 70px;
    vertical-align: middle;
    background-color: #579C87;
}

#menuConteneur {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.menu {
    width: 250px;
    margin: 15px;
    height: 400px;
    box-shadow: 0px 0px 10px 0px rgb(185, 182, 182);
    overflow: hidden;
    border-radius: 5px;
}

.menuConteneur {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menuConteneur:hover {
    transform: scale(1.2, 1.2);
    opacity: 0.8;
}




.menuTitle {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
}

.menuSubtitle {
    font-size: 1.8rem;
}

.menuConteneur-laNoteEnchantee {
    background-color: #FADFDB;
    color: rgb(63, 61, 61);
}
.menuTitle-laNoteEnchantee {
    font-family: 'laNoteEnchantee';
}
#iconNote {
    width: 50px; 
    height: 50px;
}


.menuConteneur-leChicALaFrancaise {
    background-color: #FDF7FE;
}
.menuTitle-leChicALaFrancaise {
    font-family: 'leChicALaFrancaise';
    background-image: linear-gradient(0.25turn, #DF8C3B, rgb(146, 97, 224));
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.menuSubtitle-leChicALaFrancaise {
    color: #DF8C3B;
}

.menuConteneur-delicesDesPapilles {
    background-color: #EDEFEF;
}
.menuTitle-delicesDesPapilles {
    font-family: 'lesDelicesDesPapilles';
    background-image: linear-gradient(0.25turn, #183FDD, skyblue);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 1.3rem;
}
.menuSubtitle-delicesDesPapilles {
    color: #183FDD;
    font-family: 'laNoteEnchantee';
    font-size: 1.8rem;
}


.menuConteneur-paletteDuGout {
    background-color: #FDFFFD;
}
.menuTitle-paletteDuGout {
    font-family: 'paletteDuGout';
    background-image: linear-gradient(0.25turn, #469941, #BEF783);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 1.5rem;
}
.menuSubtitle-paletteDuGout {
    color: #469941;
    font-family: 'laNoteEnchantee';
    font-size: 1.8rem;
}




#soonConteneur {
    height: 35px;
    width: 200px;
    margin-left: calc(50% - 100px);
    background-color: #579C87;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 10px;
}

#soonLabel {
    color: #F9CB48;
    font-family: 'mainFont';
    font-size: 1rem;
    height: 100%;
    width: 110px;
    line-height: 35px;
    vertical-align: middle;
}

#threeDotsConteneur {
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.threeDots span{
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #F9CB48;
    border-radius: 50%;
    display: inline-block;
    animation-name: dots;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.threeDots span:nth-child(2) {
    animation-delay: 0.4s;
}

.threeDots span:nth-child(3) {
    animation-delay: 0.8s;
}


@keyframes dots {
    50% {
        opacity: 0;
        transform: scale(0.7) translateY(10px);
    }
}


.contactLink {
    color: #F9CB48;
    font-family: 'mainFont';
    font-size: 1rem;
    margin: 20px;
    height: 100%;
    line-height: 50px;
    vertical-align: middle;
 }

 .contactLink:hover {
    animation-name: contacts;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
 }

@keyframes contacts {
    25% {
        transform: translateX(3px);
    }
    75% {
        transform: translateX(-3px);
    }
}


.bigImageMenu {
    width: calc(100% - 20px);
    margin: 10px;
    height: 800px;
    box-shadow: 0px 0px 10px 0px rgb(185, 182, 182);
    border-radius: 5px;
}

.titleMenu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin: 0px;
    margin-top: 15px;
}

