.conteneurMenu-red {
    background-color: #FDFFFD;
}

#mainTitle {
    font-family: 'paletteDuGout';
    font-size: 2.7rem;
    background-image: linear-gradient(0.25turn, #469941, #BEF783);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin: 0px;
}

.secondTitle-delice {
    font-family: 'normalBold';
    font-size: 0.8rem;
}
