    @font-face {
        font-family: 'normal';
        src: url('../font/fontNormal.ttf');
    }
    @font-face {
        font-family: 'normalBold';
        src: url('../font/fontNormalBold.ttf');
    }


    @font-face {
        font-family: 'mainFont';
        src: url("../font/Kanit-Medium.ttf");
    }

    @font-face {
        font-family: 'paletteDuGout';
        src: url('../font/fontLaPaletteDuGout.ttf');
    }

    @font-face {
        font-family: 'leChicALaFrancaise';
        src: url('../font/fontLeChicALaFrancaise.ttf');
    }

    @font-face {
        font-family: 'lesDelicesDesPapilles';
        src: url('../font/fontLesDelicesDesPapilles.ttf');
    }

    @font-face {
        font-family: 'laNoteEnchantee';
        src: url('../font/fontNoteEnchantee.ttf');
    }
